<div class="container">
  <div class="row">
    <h1><%= @uos.alpha_code%>
      <a href="<%=new_unit_of_study_semester_path(@uos)%>"><btn class="btn btn-primary right-btn">New Semester</btn></a>
    </h1>
    <h3><%= @uos.title%></h3>

    <table class="table">
      <thead>
        <tr>
          <th>Session</th>
          <th>Year</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @semesters.each do |semester| %>
          <tr>
            <td><%= semester.session %></td>
            <td><%= semester.year %></td>
            <td>
              <%= link_to unit_of_study_semester_path(@uos, semester)  do %>
                <btn class="btn btn-sml btn-default"><i class="glyphicon glyphicon-eye-open"></i> View</btn>
              <% end %>
              <%= link_to edit_unit_of_study_semester_path(@uos, semester)  do %>
                <btn class="btn btn-sml btn-default"><i class="glyphicon glyphicon-eye-pencil"></i> Edit</btn>
              <% end %>
              <%= link_to unit_of_study_semester_path(@uos, semester), method: :delete, data: { confirm: 'Are you sure?' } do%>
                <btn class="btn btn-sml btn-danger"><i class="glyphicon glyphicon-eye-trash"></i> Delete</btn>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
