<h1>Listing semesters</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Year</th>
      <th>Unit of study</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.session %></td>
        <td><%= semester.year %></td>
        <td><%= semester.unit_of_study_id %></td>
        <td><%= link_to 'Show', unit_of_study_semester_path(@uos, semester) %></td>
        <td><%= link_to 'Edit', edit_unit_of_study_semester_path(@uos, semester) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semester', new_unit_of_study_semester_path(@uos) %>
