<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @semester.session %>
</p>

<p>
  <strong>Year:</strong>
  <%= @semester.year %>
</p>

<p>
  <strong>Unit of study:</strong>
  <%= @semester.unit_of_study_id %>
</p>

<%= link_to 'Edit', edit_unit_of_study_semester_path(@uos, @semester) %> |
<%= link_to 'Back', unit_of_study_semesters_path(@uos) %>
