<div class="container">
  <div class="row">
    <h1><%= @uos.title%></h1>
    <h3><%= @uos.alpha_code%></h3>
    <h4>Semester <%= @semester.session %>, <%= @semester.year %></h4>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#lecture-recordings" role="tab" data-toggle="tab">Lecture Recordings</a></li>
      <li><a href="#students" role="tab" data-toggle="tab">Students</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="lecture-recordings">
        <h2>
          Lecture Recordings
          <a href="<%=new_unit_of_study_semester_lecture_recording_path(@uos, @semester)%>"><btn class="btn btn-primary right-btn">Upload Lecture Recording</btn></a>
        </h2>
        <div>
          <% if @semester.lecture_recordings.length == 0 %>
            <div class="centerize">
              <h4>There are no lecture recordings.
                <a href="<%=new_unit_of_study_semester_lecture_recording_path(@uos, @semester)%>">Click here to upload one.</a>
              </h4>
            </div>
          <% else %>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Uploader</th>
                <th>Uploaded On</th>
                <th colspan="3"></th>
              </tr>
              </thead>
              <tbody>
              <% @semester.lecture_recordings.each do |lecture_recording| %>
                <tr>
                  <td><%= link_to lecture_recording.name, unit_of_study_semester_lecture_recording_path(@uos, @semester, lecture_recording) %></td>
                  <td><%= User.find_by_id(lecture_recording.user_id).name %></td>
                  <td><%=l lecture_recording.created_at, :format => :string %></td>
                  <td>
                    <%= link_to edit_unit_of_study_semester_lecture_recording_path(@uos, @semester, lecture_recording) do %>
                      <btn class="btn btn-default btn-sml"><i class="glyphicon glyphicon-pencil"></i> Edit</btn>
                    <% end %>
                    <%= link_to unit_of_study_semester_lecture_recording_path(@uos, @semester, lecture_recording), method: :delete, data: { confirm: 'Are you sure?' } do%>
                      <btn class="btn btn-danger btn-sml"><i class="glyphicon glyphicon-trash"></i> Delete</btn>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="students">
        <h2>
          Students
          <a href="<%=semester_enrol_path(@uos, @semester)%>"><btn class="btn btn-primary right-btn">Enrol Students</btn></a>
        </h2>
        <div>
          <% if @semester.users.length == 0 %>
            <div class="centerize">
              <h4>No students enrolled yet.
                <a>Click here to enrol your class.</a>
              </h4>
            </div>
          <% else %>
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th colspan="3"></th>
              </tr>
              </thead>
              <tbody>
              <% @semester.users.each do |student| %>
                <tr>
                  <td><%= student.name %></td>
                  <td><%= student.email %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>


  </div>
  <a href="<%=unit_of_study_semesters_path(@uos)%>"><btn class="btn btn-default">Back</btn></a>
</div>
