<% @comments.each do |comment|%>
  <li id="cmt-<%=comment.id%>">
    <p class="commentInfo"><%=User.find_by_id(comment.user_id).name%><small class="commentDateStamp"><%=l comment.created_at, :format => :comment %></small></p>
    <div class="comment">
      <p>
        <%=comment.content%>
        <% if current_user.present?%>
        <div class="comment-buttons">
         <span>
          <%= link_to comment_like_path(comment.id), method: 'patch', data: { remote: true }, class:"like-comment", id: "like-#{comment.id}" do%>
            <% if comment.users_liked.include? current_user %>
              <i class="glyphicon glyphicon-thumbs-down">(<%= comment.users_liked.length%>)</i>
            <% else %>
              <i class="glyphicon glyphicon-thumbs-up">(<%= comment.users_liked.length%>)</i>
            <% end %>
          <% end %>
        </span>
          <% if  current_user.id == comment.user_id %>
            <%= link_to comment, method: :delete, data: { remote: true }, class:"delete-comment", id: comment.discussion_id do%>
              <i class="dis-icon glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </p>
    </div>
  </li>
<%end%>
