<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discussion.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @discussion.content %>
</p>

<p>
  <strong>Lecture recording:</strong>
  <%= @discussion.lecture_recording_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @discussion.user_id %>
</p>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
