<%= simple_form_for(@unit_of_study) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control"%>
    </p>
    <p>
      <%= f.label :alpha_code %>
      <%= f.text_field :alpha_code, class: "form-control"%>
    </p>
  </div>

  <div class="centerize">
    <%= f.submit "Save", :class => 'btn btn-primary', :id => 'save-btn' %>
    <a href="<%=unit_of_studies_path%>"><btn class="btn btn-danger">Cancel</btn></a>
  </div>
<% end %>
