<div class="container">
  <div class="row">

    <h3>Your Details</h3>
    <p>Name: <%= @user.name if @user.name %></p>
    <p>Email: <%= @user.email if @user.email %></p>

    <h4>Units of Study</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Alpha Code</th>
          <th>Title</th>
          <th>Session</th>
        </tr>
      </thead>
      <tbody>
      <% @user.semesters.each do |semester| %>
        <tr>
          <td><%= semester.unit_of_study.alpha_code  %></td>
          <td><%= semester.unit_of_study.title %></td>
          <td><%= "Semester #{semester.session}, #{semester.year} " %></td>
        <tr>
      <% end  %>
      </tbody>
    </table>
  </div>
</div>
