
<div>
  <iframe width="100%" height="450" src="//<%= @video.content_url %>" frameborder="0" allowfullscreen></iframe>

  <div class="overlays">


  </div>

</div>
<div class="video-meta">
  <h2><%= "#{@video.community.title} - #{@video.title}" %></h2>
  <h4 class="video-posted-by-on"><i>posted by <%=User.find_by_id(@video.user_id).name %> on <%=l @video.created_at, :format => :string %></i></h4>
  <p><small><%= @video.description%></small></p>
  <br>
  <h3>
    Discussions
    <% unless current_user.nil? %>
      <btn id="new-discussion-btn" class="btn btn-primary btn-video">New Discussion</btn>
    <% end %>
  </h3>
  <div class="discussions-holder">
  </div>

  <div class="video-bot-padding"></div>

  <%= link_to community_path(@community) do %>
    <btn class="btn btn-default">Back</btn>
  <% end %>

</div>

</div>

<% unless current_user.nil? %>
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Discussion</h4>
        </div>
        <%= render 'discussion_form'%>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function () {
    updateDiscussions();
    updateTimeSince();

    // pause the video and set the current time in the discussion form
    $("#new-discussion-btn").click(function() {
      $('.modal').modal()
    })

    $.listen('parsley:field:validate', function () {
      validateFront();
    });

    $('#submit-btn').on('click', function () {
      $('#lecrec-discussion-form').parsley().validate();
      validateFront();
    });

    var validateFront = function () {
      if (true === $('#lecrec-discussion-form').parsley().isValid()) {
        $('.bs-callout-info').removeClass('hidden');
        $('.bs-callout-warning').addClass('hidden');
        $('#lecrec-discussion-form').ajaxForm(function() {
          $('#video_discussions_title').val("");
          $('#video_discussions_content').val("");
          $('.modal').modal('hide');
          $('#lecrec-discussion-form').parsley().reset();
          updateDiscussions();
          updateTimeSince();
        });
      } else {
        $('.bs-callout-info').addClass('hidden');
        $('.bs-callout-warning').removeClass('hidden');
      }
    };

    var timer = setInterval(function(){updateTimeSince()}, 30000);

    function updateDiscussions() {
      $.ajax({
        url: '<%= videos_discussions_render_url(@video.id)%>',
        success: function(data) {
          $('.discussions-holder').html(data);

          $(".show-comments").click(function(event) {
            event.preventDefault();
            var $commentsDiv = $(".comments[discussion-id="+$(this).attr('discussion-id')+"]");
            $commentsDiv.toggle('slow');
          })

          $('.comment-form').ajaxForm(function() {
            var $focusedCommentField = $('.comment-content-field:focus');
            var disID = $focusedCommentField.parents('.comment-form').attr('discussion-id');
            $focusedCommentField.val('');
            $focusedCommentField.blur();
            updateDiscussionComments(disID);
          });

          applyCommentDeleteJS();

          $('.delete-discussion').on('click', function(event) {
            event.preventDefault();
            var url = $(this).attr('href');
            var answer = confirm ("Are you sure you want to delete this discussion?");
            if (answer){
              $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                data: {"_method":"delete"},
                success: function() {
                  updateDiscussions();
                  updateTimeSince();
                }
              });
            }
            else
              return false;
          });

        }
      });
    }

    function updateTimeSince() {
      $.getJSON("<%= videos_discussions_json_url(:id => @video.id) %>", function(data) {
        data.forEach(function(discussion) {
          var created_at = new Date(discussion.created_at);
          if ($("[discussion-id="+discussion.id+"]").length) {
            $("[created-at-id="+discussion.id+"]").html(calculateSince(created_at))
          }
        })
      });
    }

    function updateDiscussionComments(discussionID) {
      $.get("/render_comments/"+discussionID, function(data) {
        $(".comments[discussion-id="+ discussionID +"] ol").html(data);
        applyCommentDeleteJS();
      });
    }

    function applyCommentDeleteJS() {

      $('.like-comment').click(function(e) {
        var newCount;
        var $thisLike = $(this);
        var $icon = $thisLike.find('i');
        if ($icon.hasClass('glyphicon-thumbs-up')) {
          $icon.removeClass('glyphicon-thumbs-up');
          $icon.addClass('glyphicon-thumbs-down');
          newCount = parseInt($icon.html().replace(/\D/g,'')) + 1;
          $icon.html('(' + newCount + ')');
        }
        else {
          $icon.removeClass('glyphicon-thumbs-down');
          $icon.addClass('glyphicon-thumbs-up');
          newCount = parseInt($icon.html().replace(/\D/g,'')) - 1;
        }
        $icon.html('(' + newCount + ')');
      })

      $('.delete-comment').on('click', function(event) {
        event.preventDefault();
        var id = $(this).attr('id');
        var url = $(this).attr('href');
        var answer = confirm ("Are you sure you want to delete this comment?");
        if (answer){
          $.ajax({
            url: url,
            type: "post",
            dataType: "json",
            data: {"_method":"delete"},
            success: function() {
              updateDiscussionComments(id);
            }
          });
        }
        else
          return false;
      });
    }
  });
</script>

