
<% unless current_user.nil? %>
    <div class="discussion-form">
        <%= form_for @lecture_recording,
                       :url => discussion_post_path(:id => @lecture_recording.id, :user_id => current_user.id),
                       :method => "POST",
                       :html => { :id => "lecrec-discussion-form", :data => {validate: 'parsley'} } do |f| %>
              <div class="modal-body">
              <%= f.fields_for :discussions do |d| %>
                  <p>
                    <%= d.label :title%>
                    <%= d.text_field :title, :autofocus => true, placeholder:'Title of the discussion', class: 'form-control', :required => true%>
                  </p>
                  <div>
                    <%= d.label :from%>
                    <%= d.text_field :start_time, placeholder:'Start Time', class: 'form-control discussion-form-control'%>
                    <%= d.label :to%>
                    <%= d.text_field :end_time, placeholder:'End Time', class: 'form-control discussion-form-control'%>
                  </div>
                  <p>
                    <%= d.label :content%>
                    <%= d.text_area :content, placeholder:'Write your thoughts or questions here...', class: 'form-control', :required => true%>
                  </p>
              <% end %>
            </div>
            <div class="modal-footer">
                <%= f.submit "Submit", :class => 'btn btn-primary', :id => 'submit-btn'%>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        <% end %>
    </div>
<% end %>
