<%= simple_form_for(@lecture_recording) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.file_field :raw_video%>
    <span>(.avi, .wmv, .mkv, .mp4)</span>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :Submit, :id => "submit_lecture_recording"%>
  </div>
<% end %>
