<div class="lecrec-form">
  <% if current_page?(new_lecture_recording_path)%>
      <h3>Upload Lecture Recording</h3>
  <% elsif current_page?(edit_lecture_recording_path) %>
      <h3>Edit <%= @lecture_recording.name%></h3>
  <% end %>
  <%= simple_form_for @lecture_recording, data: {validate: 'parsley'} do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <p>
            <%= f.label :name%>
            <%= f.text_field :name, class: 'form-control', :required => true %>
        </p>
        <p>
            <%= f.file_field :raw_video, :required => current_page?(new_lecture_recording_path)%>
        </p>

      </div>
      <div class="buttons">
        <%= f.submit "Save", :class => 'btn btn-primary', :id => 'save-btn' %>
        <a href="<%=lecture_recordings_path%>"><btn class="btn btn-danger">Cancel</btn></a>
      </div>
  <% end %>
</div>

<script>
  $(document).ready(function () {
    $.listen('parsley:field:validate', function () {
      validateFront();
    });

    $('#save-btn').on('click', function () {
      $('form').parsley().validate();
      validateFront();
    });

    var validateFront = function () {
      if (true === $('form').parsley().isValid()) {
        $('.bs-callout-info').removeClass('hidden');
        $('.bs-callout-warning').addClass('hidden');
      } else {
        $('.bs-callout-info').addClass('hidden');
        $('.bs-callout-warning').removeClass('hidden');
      }
    };
  });
</script>
